Source: bitcoin
Section: net
Priority: optional
Maintainer: Mario Oyorzabal Salgado <tuxsoul@tuxsoul.com>
Build-Depends: debhelper (>= 5), quilt, asciidoc, xmlto,
 libgtk2.0-dev,
 libssl-dev,
 libdb4.7-dev | libdb4.8-dev,
 libdb4.7++-dev | libdb4.8++-dev,
 libboost-all-dev | libboost1.40-all-dev,
Standards-Version: 3.7.2
Vcs-Svn: https://bitcoin.svn.sourceforge.net/svnroot/bitcoin
Vcs-Browser: http://bitcoin.svn.sourceforge.net/viewvc/bitcoin/trunk/
Homepage: http://www.bitcoin.org

Package: bitcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: peer-to-peer network based anonymous digital currency
 Bitcoin is a free open source peer-to-peer electronic cash
 system that is completely decentralized, without the need
 for a central server or trusted parties.  Users hold the
 crypto keys to their own money and transact directly with
 each other, with the help of a P2P network to check for
 double-spending.
 .
 This package install the bitcoin daemon.
 .
 Include the next docs:
  * White paper about bitcoin: "bitcoin.pdf".
  * Example: "bitcoin.conf".
